h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: rgb(153, 44, 82);
    margin-bottom: 0%;
}

.homePageHeader {
    margin-bottom: 2%;
}

.ingrdPageHeader {
    margin-bottom: 5%;
}

.shoppingPageHeader {
    margin-bottom: -5%;
}

#menu2 {
    margin-top: -2%;
    margin-bottom: -15%;
}

#menu3 {
    margin-top: -2%;
}

#menu4 {
    margin-bottom: 0%;
}

#direction-modal-body {
    height: 90vh;
}


/* iframe {
    margin-top: -12%;
    border-color: transparent;
} */

h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background-color: rgb(153, 44, 82);
    margin-top: -3%;
    padding-bottom: 5%;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background-color: rgb(153, 44, 82);
}

#menu {
    background-color: transparent;
    width: 100%;
}

.navbar {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 20%;
    margin-top: -15%;
}

.btn-primary {
    background-color: brown;
    color: white;
    border-color: brown;
}

.btn-outline-primary {
    border-color: brown;
}


/*  home page style */

.home {
    background-image: url("../Images/vegetables.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(153, 44, 82);
}


/* style for signin and create account form */

.container-fluid {
    padding: 50px;
}

.container {
    box-align: center;
    background-color: white;
    padding: 20px;
}


/* Modal style */

/* .loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%; 
    margin-top: 20%;
    height: 100%;
    width: 60%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
} */

.login-modal-content{
    background-color: #f8f674;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.loginCloseBtn {
    color: #cccccc;
    float: right;
    font-size: 30px;
} */

/* .loginCloseBtn:hover,.closeBtnLogin:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
 */ */
/*  ingredients page style */

.ingredients {
        background-image: url("../Images/30.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

#ingredientsList {
    background-color: transparent;
}

.input-group {
    width: 75%;
    margin-left: 8%;
}


/*  shopping page style */

.shopping {
    background-image: url("../Images/33.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#shoppingContainer {
    background-color: transparent;
}

#shoppingList {
    margin-top: 0%;
}


/*  recipes page style */

.recipes {
    background-image: url("../Images/home5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


/*  pantry style */

.pantry {
    background-image: url("../Images/pantry.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#pantryContainer {
    background-color: transparent;
}


/* meal planner style */

.mealPlanner {
    background-image: url("../Images/home4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* Dropdown page style */

.dropDown {
    background-image: url("../Images/vegs3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
